* {
  margin: 0;
  padding: 0;
}
.intro {
  /* margin-top: 70px; */
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e0e9ff;
  > main {
    max-width: 900px;
    >p{
      font-size: 18px;
    }
  }
}
.home2 {
  width: 100%;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  > img {
    flex: 0.6;
    width: 30%;
    animation: imgUp 0.7s linear infinite alternate;
  }
  > div {
    font-size: 20px;
  }
}

@keyframes imgUp {
  to {
    transform: translateY(-10px);
  }
}
.home3 {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  div {
    max-width: 80%;
    background-color: #e0e9ff;
    border-radius: 0 130px 130px 0;
    padding: 70px 50px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media  screen and (max-width:820px) {
  .intro{
    padding: 10px 20px;
  }
  .home2{
    flex-direction: column;
    padding: 10px;
    >img{
      width: 100%;
    }
    .home3{
      div{
        width: 100%;
      }
      
    }
  }
}
@media  screen and (max-width:580px) {
  .home2{
    padding: 0 20px;
    font-size: 10px;
    /* background-color: red; */
    >div{
      font-size: 20px;
    }
  }
  .home3{
    font-size: 20px;
    >h1{
      font-size: 22px;
    }
    >div{
      max-width: 100%;
    }
  }
}